/* TIPOS DE FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

/* COLORES BASE */
:root {
    --color-primary: #161922;
    --color-secondary: #191d27;
    --color-terciary: #ffb950d0;
}

/* CARACTERISTICAS DE FUENTES DESKTOP */
.full-container {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 3.5rem;
    color: white;
}

h2 {
    font-size: 3rem;
    color: var(--color-terciary);
}

p {
    font-size: 1.5rem;
    color: white;
}

span {
    font-size: 2rem;
    color: white;
}

/* NORMALIZADORES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a:link, a:visited, a:active { 
    text-decoration: none; 
}

a:hover {
    cursor: pointer;
}

/* NAVBAR DESKTOP */
.menu-desktop {
    width: 100vw;
    height: 5rem;
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.582);
}

    .menu-desktop ul {
        width: 90%;
        max-width: 50rem;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-desktop ul li {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .menu-desktop ul li a {
        color: white;
        letter-spacing: 0.1rem;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 0.3rem solid var(--color-primary);
        border-top: 0.3rem solid var(--color-primary);
        padding: 0 1rem;
    }

    .menu-desktop ul li:hover a {
        border-bottom: 0.3rem solid var(--color-terciary);
        background-color: rgba(0, 0, 0, 0.253);
    }

/* INICIO */
#inicio {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-inicio {
    width: 90%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.card-inicio {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto 10%;
}

    .card-inicio > span, h1 {
        margin: .1.3rem 0;
    }

.card-inicio-boton {
    width: 20rem;
    height: auto;
    padding: .5rem;
    margin-top: .7rem;
    background-color: var(--color-terciary);
    text-align: center;
    font-weight: bold;
    box-shadow: .2rem .2rem .2rem .2rem rgba(0, 0, 0, 0.185);
}

.card-inicio-redes {
    width: 12rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

    .card-inicio-redes a {
        width: 2.7rem;
        height: 2.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2.7rem;
    }

    .card-inicio-redes a:hover {
        background-color: var(--color-secondary);
    }

    .card-inicio-redes a img {
        width: 1.2rem;
        height: 1.2rem;
    }

.foto-inicio {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* SOBRE MI */

#sobre-mi {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sobremi {
    width: 90%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.foto-perfil-sobremi {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-sobremi {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto 10%;
}

    .card-sobremi p {
        text-align: justify;
        line-height: 1.5;
        margin: .5rem auto;
        overflow-y: hidden;
    }

    .card-sobremi img {
        margin-top: .5rem;
    }

